/* Two-column layout */
.md-typeset .mdx-columns ol,
.md-typeset .mdx-columns ul,
.md-typeset .mdx-two-columns ol,
.md-typeset .mdx-two-columns ul {
    columns: 2;
    break-inside: avoid;
}

/* Three-column layout */
.md-typeset .mdx-three-columns ol,
.md-typeset .mdx-three-columns ul {
    columns: 3;
    break-inside: avoid;
}

/* Four-column layout */
.md-typeset .mdx-four-columns ol,
.md-typeset .mdx-four-columns ul {
    columns: 4;
    break-inside: avoid;
}

/* [mobile portrait -]: Reset columns on mobile */
@media only screen and (max-width: 600px) {

    .md-typeset .mdx-columns ol,
    .md-typeset .mdx-columns ul {
        columns: initial;
    }
}

/* Buttons with different widths */
.md-typeset .md-button-fifth {
    width: 19%;
    text-align: center;
    padding: 0.6em;
}
.md-typeset .md-button-quarter {
    width: 24%;
    text-align: center;
}
.md-typeset .md-button-third {
    width: 33%;
    text-align: center;
}
.md-typeset .md-button-half {
    width: 49%;
    text-align: center;
}

.md-typeset .md-button-fifth img  {
    display: inline-block;
    height: 70px;
    /* width: 100%; */
}
.md-typeset .md-button-quarter img  {
    display: inline-block;
    height: 70px;
    /* width: 100%; */
}
.md-typeset .md-button-third img  {
    display: inline-block;
    height: 70px;
    /* width: 100%; */
}
.md-typeset .md-button-half img  {
    display: inline-block;
    height: 70px;
    /* width: 100%; */
}
